<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Info</title>
</head>
<body>
    <br><br>
    <div class="container">
        <h1>Your Profile Information</h1>
    </div>
    <div class="container">
        User Name: <%= name %> <br>
    </div>
    <div class="container">
        Email: <%= email %> <br>

    </div>
    <div class="container">
        Age : <%= age %> <br>
    </div>
</body>
</html>
